<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ueditor demo</title>
    <link rel="stylesheet" href="__PUBLIC__admin/css/admin_style.css">
    <link rel="stylesheet" href="__PUBLIC__admin/css/zane.css">
    <link rel="stylesheet" href="__PUBLIC__admin/css/datepicker.css">
    <script src="__PUBLIC__admin/js/jquery.js"></script>
    <script src="__PUBLIC__admin/js/zane.js"></script>
    <script src="__PUBLIC__admin/js/datepicker.all.js"></script>
    <script src="__PUBLIC__admin/js/moment.min.js"></script>
    <script src="__PUBLIC__admin/js/time.js"></script>
</head>

<body>
    <div class="ht-title">后台管理系统</div>
    <div class="admin">
        <div class="admin-left">
            {include file='common/common'}
        </div>
        <div class="admin-right box-show" style="display: block">
            <p class="r-db">
                    <span class="r-db-left">数据管理 > 分类管理 > 手机分类 > 添加分类</span>
            </p>

            <div class="add-box" style="padding-bottom: 65px;">
                <form action="" method="post" enctype="multipart/form-data">
                    <label class="add-list">
                        <span>分类名称</span>
                        <input class="title" type="text" name="name" placeholder="商品名称"><br>
                    </label>

                    <label class="add-list">
                        <span>发布时间</span>
                        <div class="c-datepicker-date-editor c-datepicker-single-editor J-datepicker-day mt10">
                            <input type="text" class="time" autocomplete="off" name="time" placeholder="发布时间" class=" c-datepicker-data-input only-date"
                                value="">
                        </div>
                    </label>
                    <!-- <input class="add" type="submit" value="立即发布文章"> -->
                    <div class="right-td">

                        <button class="wz-btn" type="submit">添加分类</button>
                        <button class="qx-btn">
                            <a href="/phoneLm/">取消添加</a>
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/layer/3.0.1/layer.js"></script>
    <script src="__PUBLIC__utf8-php/ueditor.config.js"></script>
    <script src="__PUBLIC__utf8-php/ueditor.all.js"></script>
    <script src="__PUBLIC__admin/js/layer.js"></script>
    <script src="__PUBLIC__admin/js/layui.all.js"></script>
    <script>
        var ue = UE.getEditor('content');
        layui.use('form', function () {
            var form = layui.form;

        });

    </script>
</body>

</html>